* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: rgba(15, 15, 15, 1);
color: rgba(255, 255, 255, 1);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
}

.container {
text-align: center;
width: 90%;
max-width: 600px;
margin-top: 20px;
margin-bottom: 20px;
background-color: rgba(25, 25, 25, 1);
padding: 20px;
border-radius: 10px;
}

.tab-button.active {
background-color: rgba(255, 0, 216, 1);
color: rgba(220, 220, 220, 1);
outline: none;
box-shadow: 0 0 10px rgba(255, 0, 216, 1);
}

.tab-button {
background-color: rgba(68, 68, 68, 1);
color: rgba(150, 150, 150, 1);
}

.tab-button:hover {
background-color: rgba(230, 0, 199, 0.5);
color: rgba(200, 200, 200, 1);
}

.tab-content {
display: none;
color: rgba(200, 200, 200, 1);
}

.tab-content.active {
display: block;
color: rgba(200, 200, 200, 1);
}

h1 {
color: rgba(255, 0, 216, 1);
margin-bottom: 20px;
}

.input-group {
margin-bottom: 15px;
}

label {
display: block;
color: rgba(255, 0, 216, 1);
margin-bottom: 5px;
font-size: 1.1em;
}

input[type="number"] {
padding: 10px;
width: 100%;
background-color: rgba(68, 68, 68, 1);
border: 1px solid rgba(255, 0, 216, 1);
color: rgba(180, 180, 180, 1);
border-radius: 5px;
font-size: 1.1em;
}

input[type="number"]:focus {
outline: none;
box-shadow: 0 0 10px rgba(255, 0, 216, 1);
color: rgba(255, 255, 255, 1);
}

button {
background-color: rgba(255, 0, 216, 1);
color: rgba(32, 32, 32, 1);
padding: 12px 20px;
border: none;
border-radius: 5px;
font-size: 1.2em;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: rgba(230, 0, 199, 1);
}

.results {
margin-top: 25px;
margin-bottom: 25px;
padding: 5px;
font-size: 1.2em;
color: rgba(255, 0, 216, 1);
background-color: rgba(35, 35, 35, 1);
border-radius: 10px;
}

.results div {
margin: 10px 0;
}

.info-box {
margin-top: 20px;
background-color: rgba(35, 35, 35, 1);
border-radius: 10px;
padding: 15px;
text-align: center;
font-size: 0.9em;
}

.info-box h2 {
color: rgba(255, 0, 216, 1);
margin-bottom: 10px;
font-size: 1.2em;
}

.info-box ul {
list-style: none;
padding-left: 0;
}

.info-box li {
color: rgba(160, 160, 160, 1);
margin-bottom: 12px;
line-height: 1.4;
}

.info-box .specs {
font-size: 0.8em;
color: rgba(85, 85, 85, 1);
display: block;
margin-top: 4px;
}

.info-box .specs span {
display: inline-block;
margin-right: 15px;
}

@media (max-width: 600px) {
.container {
width: 100%;
padding: 15px;
}

h1 {
font-size: 1.5em;
}

.info-box {
padding: 10px;
}

.info-box h2 {
font-size: 1em;
}

.info-box .specs {
font-size: 0.7em;
}